@font-face {
  font-family: "Lato-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato/Lato-Regular.woff2"), format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/oswald/oswaldmedium.woff2"), format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswald/oswaldregular.woff2"), format("woff2");
  font-display: swap;
}
html {
  height: 100%;
}
.page__body {
  min-height: 100%;
  min-width: 320px;
  margin: 0;
}
.page__body--center {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
}
.main-container {
  flex-grow: 1;
  min-width: 320px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .main-container {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .main-container {
    min-width: 768px;
    margin: 0 auto;
  }
}
.main-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 13px 20px;
  max-width: 100%;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .main-header {
    min-width: 704px;
    min-height: 50px;
    padding: 25px 30px 0 30px;
    border-bottom: transparent;
  }
}
@media (min-width: 1440px) {
  .main-header {
    padding: 55px 110px 0 110px;
    border-bottom: transparent;
  }
}
.main-header a {
  display: inline-flex;
}
.main-header__title {
  vertical-align: middle;
  align-items: center;
}
.main-header__title:hover svg {
  fill: #3e3e3e;
}
.main-header__title:active svg {
  fill: #6b6b6b;
}
@media (min-width: 768px) {
  .main-header__title {
    margin-right: auto;
    padding-left: 13px;
  }
}
.hero {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-align: center;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .hero {
    background-color: transparent;
    text-align: left;
    padding: 65px 20px 0 120px;
    margin-bottom: 526px;
  }
}
@media (min-width: 1440px) {
  .hero {
    padding: 110px 0 0 190px;
    margin-bottom: 210px;
    max-width: 1440px;
  }
}
.hero__header {
  background-color: #68b738;
  max-width: 370px;
  min-height: 302px;
  padding: 27px 35px;
  box-sizing: border-box;
  opacity: 85%;
}
@media (min-width: 768px) {
  .hero__header {
    background-image: none;
    background-color: transparent;
    padding: 0;
    margin-bottom: 50px;
    min-height: 180px;
  }
}
@media (min-width: 1440px) {
  .hero__header {
    margin-bottom: 52px;
  }
}
.hero__title {
  position: relative;
  display: block;
  font-weight: 400;
  width: 250px;
  margin: 0;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  box-sizing: border-box;
  letter-spacing: 0;
}
@media (min-width: 768px) {
  .hero__title {
    color: #000000;
    width: 419px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    margin-bottom: 40px;
  }
}
.hero__slogan {
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0;
  text-transform: uppercase;
  color: #ffffff;
}
@media (min-width: 768px) {
  .hero__slogan {
    color: #000000;
    font-size: 20px;
  }
}
.hero__link {
  font-size: 16px;
  margin-top: 138px;
  min-width: 280px;
}
@media (min-width: 768px) {
  .hero__link {
    min-width: 244px;
    min-height: 54px;
    margin-top: 0;
    font-size: 20px;
  }
}
@media (min-width: 1440px) {
  .hero__link {
    min-width: 244px;
    min-height: 54px;
    margin-right: auto;
    margin-top: 0;
    font-size: 20px;
  }
}
.hero__container {
  position: relative;
  box-sizing: border-box;
  max-width: 320px;
}
@media (max-width: 768px) {
  .hero__container {
    max-width: 768px;
    margin: 0 auto;
  }
}
@media (min-width: 1440px) {
  .hero__container {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
  }
}
.hero__image {
  position: absolute;
  left: 30px;
  bottom: 40px;
}
@media (min-width: 768px) {
  .hero__image {
    min-width: 709px;
    height: 609px;
    left: -40px;
    top: 201px;
    z-index: -1;
  }
}
@media (min-width: 1440px) {
  .hero__image {
    width: 552px;
    height: 499px;
    top: -65px;
    left: 390px;
    z-index: 0;
  }
}
@media (min-width: 1440px) {
  .hero__background {
    position: absolute;
    top: -230px;
    left: 530px;
    width: 720px;
    height: 694px;
    background-color: #68b738;
    display: block;
    background-image: url("../img/hero-background.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: bottom right;
    z-index: -1;
  }
}
@media (min-width: 1440px) {
  .hero__background::after {
    content: "";
    position: absolute;
    opacity: 80%;
    width: 720px;
    height: 694px;
    background-color: #68b738;
  }
}
.advantages {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
}
@media (min-width: 768px) {
  .advantages {
    padding: 20px 30px;
  }
}
@media (min-width: 1440px) {
  .advantages {
    flex-direction: row;
    padding: 82px 110px 71px 110px;
  }
}
.advantages__item {
  background-color: #f2f2f2;
  padding: 30px 33px 18px 20px;
  max-width: 280px;
  min-height: 266px;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .advantages__item {
    max-width: 280px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) {
  .advantages__item {
    padding: 77px 63px 53px 52px;
    min-width: 701px;
    min-height: 372px;
    margin-bottom: 30px;
  }
  .advantages__item:last-child {
    margin-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .advantages__item {
    min-width: 570px;
    max-height: 374px;
    margin-bottom: 0;
    margin-right: 80px;
    padding: 41px 61px 55px 52px;
  }
  .advantages__item:last-child {
    margin-right: 0;
  }
}
.advantages__item:last-child {
  margin-bottom: 0;
}
.advantages__item h3 {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  letter-spacing: 0;
  text-align: left;
  text-transform: uppercase;
  margin: 0;
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  margin-bottom: 29px;
}
@media (min-width: 768px) {
  .advantages__item h3 {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 24px;
  }
}
@media (min-width: 1440px) {
  .advantages__item h3 {
    margin-bottom: 39px;
  }
}
.advantages__item--slim h3::before {
  content: "";
  display: block;
  width: 50px;
  height: 53px;
  background-image: url("../img/adv-slim-cat.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 20px;
}
@media (min-width: 768px) {
  .advantages__item--slim h3::before {
    position: absolute;
    left: 350px;
    top: 10px;
    width: 200px;
    height: 211px;
    font-size: 36px;
    line-height: 36px;
    order: 1;
  }
}
@media (min-width: 1440px) {
  .advantages__item--slim h3::before {
    position: static;
    order: 0;
    width: 100px;
    height: 106px;
    margin-right: 62px;
    margin-bottom: 0;
  }
}
.advantages__item--fit h3::before {
  content: "";
  display: block;
  width: 67px;
  height: 50px;
  background-image: url("../img/adv-fit-cat.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 20px;
}
@media (min-width: 768px) {
  .advantages__item--fit h3::before {
    position: absolute;
    left: 350px;
    top: 10px;
    width: 268px;
    height: 200px;
    font-size: 36px;
    line-height: 36px;
    order: 1;
  }
}
@media (min-width: 1440px) {
  .advantages__item--fit h3::before {
    position: static;
    order: 0;
    width: 134px;
    height: 100px;
    margin-right: 62px;
    margin-bottom: 0;
  }
}
.advantages__item p {
  font-family: "Lato-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0;
  text-align: left;
  margin: 0;
  margin-bottom: 38px;
}
@media (min-width: 768px) {
  .advantages__item p {
    display: block;
    max-width: 340px;
    font-size: 16px;
    margin-bottom: 48px;
    line-height: 24px;
  }
}
@media (min-width: 1440px) {
  .advantages__item p {
    display: block;
    width: 450px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 23px;
  }
}
.advantages__item a {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.advantages__item a:active {
  color: rgba(0, 0, 0, 0.3);
}
.advantages__item a::after {
  content: "";
  width: 32px;
  height: 10px;
  display: block;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 15px;
}
@media (min-width: 768px) {
  .advantages__item a::after {
    margin-left: 25px;
  }
}
.features {
  padding: 0 20px;
  box-sizing: border-box;
  min-width: 320px;
}
@media (max-width: 768px) {
  .features {
    max-width: 280px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .features {
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .features {
    padding: 0 110px;
  }
}
.features__list {
  padding: 0;
}
@media (min-width: 768px) {
  .features__list {
    display: grid;
    grid-template-columns: 250px 250px;
    grid-column-gap: 140px;
    grid-row-gap: 37px;
  }
}
@media (min-width: 1440px) {
  .features__list {
    display: flex;
    margin-bottom: 69px;
  }
}
.features__item {
  list-style-type: none;
  display: flex;
  vertical-align: middle;
  align-items: center;
  font-family: "Lato-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 24px;
  max-width: 370px;
  color: #444444;
}
@media (min-width: 768px) {
  .features__item {
    font-size: 16px;
    flex-direction: column;
    text-align: left;
    line-height: 24px;
  }
}
.features__item:last-child {
  margin-bottom: 49px;
}
.features__item--natural::before {
  content: "";
  display: block;
  min-width: 60px;
  height: 60px;
  background-image: url("../img/features-natural.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 20px;
}
@media (min-width: 768px) {
  .features__item--natural::before {
    min-width: 80px;
    height: 80px;
    align-self: flex-start;
    margin-top: 40px;
    margin-bottom: 31px;
  }
}
.features__item--form::before {
  content: "";
  display: block;
  min-width: 60px;
  height: 60px;
  background-image: url("../img/features-form.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 20px;
}
@media (min-width: 768px) {
  .features__item--form::before {
    min-width: 80px;
    height: 80px;
    align-self: flex-start;
    margin-top: 40px;
    margin-bottom: 31px;
  }
}
.features__item--intake::before {
  content: "";
  display: block;
  min-width: 60px;
  height: 60px;
  background-image: url("../img/features-intake.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 20px;
}
@media (min-width: 768px) {
  .features__item--intake::before {
    min-width: 80px;
    height: 80px;
    align-self: flex-start;
    margin-top: 40px;
    margin-bottom: 31px;
  }
}
.features__item--result::before {
  content: "";
  display: block;
  min-width: 60px;
  height: 60px;
  background-image: url("../img/features-result.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 20px;
}
@media (min-width: 768px) {
  .features__item--result::before {
    min-width: 80px;
    height: 80px;
    align-self: flex-start;
    margin-top: 40px;
    margin-bottom: 31px;
  }
}
.features__title {
  display: block;
  margin: 0;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .features__title {
    margin-top: 45px;
    margin-bottom: 32px;
    font-size: 60px;
  }
}
.recommendation {
  position: relative;
  padding: 25px 20px 40px 20px;
  background-color: #eaeaea;
  box-sizing: border-box;
  width: 100%;
}
@media (min-width: 768px) {
  .recommendation {
    background-color: transparent;
    padding: 25px 30px 40px 30px;
    max-width: 768px;
    box-sizing: border-box;
  }
}
@media (min-width: 1440px) {
  .recommendation {
    background-color: transparent;
    padding: 0 110px;
  }
}
.recommendation__title {
  margin: 0;
}
@media (min-width: 768px) {
  .recommendation__title {
    font-size: 60px;
    margin-bottom: 60px;
  }
}
@media (min-width: 1440px) {
  .recommendation__title {
    margin-bottom: 146px;
  }
}
.recommendation__description {
  font-family: "Lato-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0;
  text-align: left;
  color: #444444;
  margin: 0;
}
@media (min-width: 768px) {
  .recommendation__description {
    line-height: 24px;
    font-size: 16px;
    max-width: 708px;
  }
}
@media (min-width: 1440px) {
  .recommendation__description {
    margin-bottom: 69px;
    max-width: 500px;
  }
}
.recommendation__wrapper {
  background-color: #eaeaea;
  position: relative;
  max-width: 300px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .recommendation__wrapper {
    background-color: transparent;
    max-width: 768px;
    margin-bottom: 250px;
  }
}
@media (min-width: 1440px) {
  .recommendation__wrapper {
    display: block;
    max-width: 600px;
    margin: 0;
    background-color: transparent;
  }
}
@media (min-width: 768px) {
  .recommendation::before {
    content: "";
    position: absolute;
    width: 768px;
    height: 462px;
    right: 0;
    bottom: 0;
    display: block;
    background-color: #eaeaea;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
  }
}
@media (min-width: 1440px) {
  .recommendation::before {
    content: "";
    position: absolute;
    min-width: 1440px;
    left: 0;
    top: 109px;
    height: 462px;
    display: block;
    background-color: #eaeaea;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
  }
}
.recommendation__budget {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  text-align: center;
  margin: 0;
}
@media (min-width: 768px) {
  .recommendation__budget {
    font-size: 20px;
    position: absolute;
    max-width: 174px;
    text-align: right;
    top: 200px;
    right: 0;
  }
}
@media (min-width: 1440px) {
  .recommendation__budget {
    position: static;
    text-align: center;
    display: flex;
    justify-content: space-between;
    max-width: 326px;
    font-size: 20px;
    margin-bottom: 75px;
  }
}
.recommendation__progress {
  position: relative;
}
@media (min-width: 768px) {
  .recommendation__progress {
    display: block;
    min-width: 768px;
    background-color: transparent;
    height: 462px;
  }
}
@media (min-width: 1440px) {
  .recommendation__progress {
    position: absolute;
    display: block;
    right: -20px;
    top: -10px;
    max-width: 768px;
    background-color: transparent;
    height: 462px;
  }
}
@media (min-width: 1440px) {
  .recommendation__data {
    margin-bottom: 55px;
  }
}
.recommendation__progress img {
  display: block;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .recommendation__progress img {
    width: 560px;
    height: 512px;
    left: 100px;
    position: absolute;
    margin: 0 auto;
    bottom: 99px;
  }
}
@media (min-width: 1440px) {
  .recommendation__progress img {
    position: absolute;
    top: 0;
    left: 800px;
    width: 560px;
    height: 512px;
  }
}
.map__contact {
  padding: 26px 20px;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  margin: 0 auto;
}
.map__contact--form,
.map__contact--catalog {
  background-color: #f2f2f2;
}
@media (min-width: 1440px) {
  .map__contact--form,
  .map__contact--catalog {
    background-color: transparent;
  }
}
@media (min-width: 768px) {
  .map__contact {
    max-width: 768px;
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .map__contact {
    width: 565px;
  }
}
@media (min-width: 768px) {
  .map__contact--form {
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .map__contact--catalog {
    max-width: 100%;
  }
}
.map__contact h3 {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  text-transform: uppercase;
  box-sizing: border-box;
  margin: 0;
  min-width: 140px;
}
.map__contact p {
  font-family: "Lato-Regular", sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  margin: 0;
}
.footer {
  background-color: #f2f2f2;
  padding: 40px 20px;
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
}
@media (min-width: 768px) {
  .footer {
    padding: 40px 30px;
    min-width: 768px;
  }
}
@media (min-width: 1440px) {
  .footer {
    width: 100%;
    padding: 54px 110px;
  }
}
.footer__title {
  display: block;
  width: 128px;
  min-height: 24px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .footer__title {
    display: inline-flex;
    vertical-align: middle;
    justify-content: flex-start;
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .footer__title {
    display: block;
    margin: 0;
  }
}
@media (min-width: 768px) {
  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.footer__title svg {
  fill: #111111;
}
.footer__title svg:hover {
  fill: #3e3e3e;
}
.footer__title svg:active {
  fill: #6b6b6b;
}
.footer__logo {
  font-family: "Lato-Regular", sans-serif;
  color: #444444;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  min-width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__logo:hover svg {
  fill: #68b738;
}
.footer__logo:active {
  opacity: 30%;
}
.footer__logo:active svg {
  fill: #68b738;
  opacity: 30%;
}
@media (min-width: 768px) {
  .footer__logo {
    display: inline-flex;
    vertical-align: middle;
    justify-content: flex-end;
  }
}
@media (min-width: 1440px) {
  .footer__logo {
    display: inline-flex;
    vertical-align: middle;
    justify-content: flex-end;
  }
}
.footer__logo svg {
  margin-left: 23px;
}
.form-page {
  max-width: 320px;
  padding: 27px 20px 0 20px;
  box-sizing: border-box;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .form-page {
    max-width: 768px;
    padding: 65px 70px 0 70px;
  }
}
@media (min-width: 1440px) {
  .form-page {
    max-width: 1440px;
    padding: 74px 110px 0 110px;
  }
}
.form-page__title {
  margin-top: 0;
  margin-bottom: 37px;
  box-sizing: border-box;
  font-size: 36px;
}
@media (min-width: 768px) {
  .form-page__title {
    font-size: 60px;
    margin-bottom: 54px;
  }
}
@media (min-width: 1440px) {
  .form-page__title {
    margin-bottom: 55px;
  }
}
.form-page__intro {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0;
  text-align: left;
  margin-top: 0;
  margin-bottom: 39px;
  box-sizing: border-box;
  max-width: 226px;
}
@media (min-width: 768px) {
  .form-page__intro {
    font-size: 20px;
    max-width: 350px;
    line-height: 30px;
    margin-bottom: 66px;
  }
}
@media (min-width: 1440px) {
  .form-page__intro {
    font-size: 20px;
    margin-bottom: 66px;
  }
}
.form {
  margin: 0;
}
.form__fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.form__fieldset--radio {
  display: flex;
  padding: 22px 0 19px 0;
}
@media (min-width: 768px) {
  .form__fieldset--radio {
    padding: 23px 27px;
    border: 1px solid #d9d9d9;
    min-height: 196px;
  }
}
@media (min-width: 1440px) {
  .form__fieldset--radio {
    min-width: 570px;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .form__fieldset {
    max-width: 1440px;
  }
}
.form__fieldset--text {
  max-width: 280px;
}
@media (min-width: 768px) {
  .form__fieldset--text {
    max-width: 630px;
    margin-bottom: 48px;
  }
}
@media (min-width: 1440px) {
  .form__fieldset--text {
    margin-right: 80px;
    margin-bottom: 0;
    min-width: 570px;
    justify-content: space-between;
  }
  .form__fieldset--text:last-child {
    margin-right: 0;
  }
}
@media (min-width: 1440px) {
  .form__fieldset--input {
    margin-right: 80px;
    max-width: 1440px;
    flex-direction: row;
  }
  .form__fieldset--input:last-child {
    margin-right: 0;
  }
}
@media (min-width: 1440px) {
  .form__text-input--contacts {
    box-sizing: border-box;
    min-width: 495px;
  }
}
.form__fieldset--input p {
  margin-right: 0;
  max-width: 280px;
}
@media (min-width: 768px) {
  .form__fieldset--input p {
    max-width: 628px;
  }
}
@media (min-width: 1440px) {
  .form__fieldset--input p {
    margin-right: 81px;
  }
  .form__fieldset--input p:last-child {
    margin-right: 0;
  }
}
.form__label {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0;
  text-align: left;
  color: #444444;
  text-transform: uppercase;
  white-space: nowrap;
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  margin-right: 13px;
}
@media (min-width: 768px) {
  .form__label {
    font-size: 20px;
  }
}
.form__wrapper--goal {
  position: relative;
}
.form__wrapper--goal::before {
  content: "";
  position: absolute;
  top: 196px;
  width: 100%;
  height: 1px;
  background-color: #d9d9d9;
  display: block;
  margin-left: -20px;
}
@media (min-width: 768px) {
  .form__wrapper--goal::before {
    display: none;
  }
}
.form__wrapper--goal::after {
  content: "";
  min-width: 320px;
  height: 1px;
  background-color: #d9d9d9;
  display: block;
  margin-left: -20px;
}
@media (min-width: 768px) {
  .form__wrapper--goal::after {
    display: none;
  }
}
@media (min-width: 1440px) {
  .form__wrapper--goal {
    display: flex;
    margin-bottom: 70px;
  }
}
.form__fieldset--radio label {
  margin-bottom: 19px;
}
.form__fieldset--radio label:last-child {
  margin-bottom: 0;
}
.form__field-wrapper {
  margin: 0;
  margin-bottom: 14px;
  display: flex;
}
.form__field-wrapper:last-child {
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .form__field-wrapper {
    display: flex;
    margin-bottom: 20px;
  }
}
@media (min-width: 1440px) {
  .form__field-wrapper {
    display: flex;
    margin: 0;
    min-height: 52px;
  }
  .form__field-wrapper:last-child {
    margin-bottom: 0;
  }
}
.form__text-input {
  border: #e7e7e7 1px solid;
  min-height: 45px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0;
  text-align: left;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 14px 15px;
  margin-right: auto;
  width: 100%;
}
@media (min-width: 768px) {
  .form__text-input {
    width: 100%;
  }
}
@media (min-width: 1440px) {
  .form__text-input {
    width: 100%;
  }
}
.form__title {
  font-size: 24px;
  line-height: 26px;
  margin: 0;
}
@media (min-width: 768px) {
  .form__title {
    font-size: 36px;
  }
}
@media (min-width: 1440px) {
  .form__title {
    font-size: 36px;
  }
}
.form__wrapper--contacts {
  padding-top: 26px;
}
@media (min-width: 768px) {
  .form__wrapper--contacts {
    padding-top: 65px;
  }
}
@media (min-width: 1440px) {
  .form__wrapper--contacts {
    padding-top: 17px;
  }
}
.form__wrapper--contacts h2 {
  margin-bottom: 35px;
}
@media (min-width: 1440px) {
  .form__wrapper--contacts h2 {
    margin-bottom: 76px;
  }
}
.form__wrapper--comment h2 {
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .form__wrapper--comment {
    padding-top: 65px;
    padding-bottom: 41px;
  }
}
@media (min-width: 1440px) {
  .form__wrapper--comment {
    padding-bottom: 70px;
    margin-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .form__wrapper--comment p {
    margin-bottom: 29px;
  }
}
.form__fieldset--checkbox {
  padding: 0;
}
@media (min-width: 768px) {
  .form__fieldset--checkbox {
    display: grid;
    grid-template-columns: 225px 225px;
    margin-bottom: 52px;
  }
}
@media (min-width: 1440px) {
  .form__fieldset--checkbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0 60px 0;
    margin-bottom: 0;
  }
}
.form__textarea {
  width: 280px;
  min-height: 150px;
  border: 1px solid #e7e7e7;
  padding: 14px 15px;
  box-sizing: border-box;
  vertical-align: top;
}
.form__textarea::placeholder {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0;
  text-align: left;
  color: #444444;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .form__textarea {
    width: 628px;
  }
}
@media (min-width: 1440px) {
  .form__textarea {
    width: 1220px;
  }
}
.form__button--submit {
  margin-bottom: 21px;
  width: 280px;
}
@media (min-width: 768px) {
  .form__button--submit {
    width: 284px;
    margin-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .form__button--submit {
    width: 570px;
  }
}
.form__button--wrapper {
  max-width: 280px;
}
@media (min-width: 768px) {
  .form__button--wrapper {
    max-width: 768px;
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    margin-bottom: 60px;
  }
}
@media (min-width: 1440px) {
  .form__button--wrapper {
    max-width: 1440px;
    margin-bottom: 79px;
  }
}
.form__note {
  display: block;
  margin: 0 auto;
  margin-bottom: 32px;
  font-family: "Lato-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0;
  text-align: center;
}
@media (min-width: 768px) {
  .form__note {
    margin-left: 60px;
    margin-bottom: 0;
    font-size: 16px;
  }
}
@media (min-width: 1440px) {
  .form__note {
    text-align: left;
    margin-left: 60px;
  }
}
.catalog__section {
  padding: 27px 0 25px 0;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .catalog__section {
    max-width: none;
    padding: 65px 30px 90px 30px;
  }
}
@media (min-width: 1440px) {
  .catalog__section {
    padding: 74px 110px 96px 110px;
  }
}
.catalog__title {
  padding: 0;
  max-width: 300px;
  margin: 0 auto;
  padding-left: 20px;
  margin-bottom: 41px;
  font-size: 36px;
}
@media (min-width: 768px) {
  .catalog__title {
    max-width: 450px;
    margin: 0;
    font-size: 60px;
    margin-bottom: 84px;
  }
}
@media (min-width: 1440px) {
  .catalog__title {
    font-size: 60px;
    margin-bottom: 84px;
  }
}
.catalog__card {
  padding: 0;
  display: block;
  max-width: 320px;
  margin: 0 auto;
  list-style-type: none;
}
@media (min-width: 768px) {
  .catalog__card {
    max-width: 1440px;
    display: grid;
    grid-template-columns: 324px 324px;
    grid-column-gap: 60px;
    grid-row-gap: 80px;
  }
}
@media (min-width: 1440px) {
  .catalog__card {
    display: grid;
    grid-template-columns: repeat(4, 245px);
    grid-column-gap: 80px;
    grid-row-gap: 63px;
  }
}
.catalog__extra {
  padding: 25px 20px 19px 20px;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 320px;
}
@media (min-width: 768px) {
  .catalog__extra {
    max-width: 768px;
  }
}
@media (min-width: 1440px) {
  .catalog__extra {
    max-width: 1086px;
    padding-left: 110px;
    margin: 0;
  }
}
.extra__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  margin: 0;
  margin-bottom: 36px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .extra__title {
    font-size: 36px;
  }
}
@media (min-width: 1440px) {
  .extra__title {
    font-size: 36px;
  }
}
.extra__list {
  padding: 0;
  list-style-type: none;
  margin: 0;
}
@media (min-width: 768px) {
  .extra__list {
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .extra__list {
    padding: 0 20px 19px 40px;
  }
}
@media (min-width: 768px) {
  .extra__wrapper {
    display: flex;
    min-height: 45px;
  }
}
@media (min-width: 1440px) {
  .extra__wrapper {
    display: flex;
    align-items: center;
  }
}
.extra__wrapper h3 {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0;
  text-align: left;
  margin: 0;
  margin-bottom: 13px;
}
@media (min-width: 768px) {
  .extra__wrapper h3 {
    font-size: 20px;
    flex-grow: 1;
  }
}
@media (min-width: 1440px) {
  .extra__wrapper h3 {
    font-size: 20px;
    width: 326px;
  }
}
.extra__wrapper p {
  font-family: "Lato-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0;
  text-align: left;
  margin: 0;
}
@media (min-width: 768px) {
  .extra__wrapper p {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .extra__wrapper p {
    font-size: 16px;
    line-height: 20px;
    width: 276px;
    display: inline-flex;
    justify-content: space-between;
    margin-right: 50px;
  }
}
.extra__item {
  box-sizing: border-box;
  padding-bottom: 31px;
}
.extra__item:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .extra__item {
    min-width: 708px;
    padding: 28px 38px 28px 38px;
    text-align: center;
    border: 1px solid #cdcdcd;
    border-bottom: transparent;
  }
  .extra__item:last-child {
    border-bottom: 1px solid #cdcdcd;
  }
}
@media (min-width: 1440px) {
  .extra__item {
    display: flex;
    align-items: center;
    padding: 15px 1px;
    min-width: 895px;
    border-left: transparent;
    border-right: transparent;
  }
}
.extra__botton {
  margin-top: 15px;
  width: 280px;
}
@media (min-width: 768px) {
  .extra__botton {
    width: 632px;
    text-align: center;
    margin-top: 0;
  }
}
@media (min-width: 1440px) {
  .extra__botton {
    min-width: 244px;
    margin-left: auto;
  }
}
.present {
  padding: 29px 20px;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 320px;
}
@media (min-width: 768px) {
  .present {
    max-width: 750px;
  }
}
@media (min-width: 1440px) {
  .present {
    position: absolute;
    min-width: 245px;
    margin: 0;
  }
}
.present__wrapper {
  position: relative;
  min-height: 290px;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 0 60px 43px 60px;
  box-sizing: border-box;
  background-color: #68b738;
  z-index: -1;
}
.present__wrapper::after {
  position: absolute;
  content: "";
  left: 0;
  min-width: 100%;
  min-height: 290px;
  background-image: url("../img/present-cat.jpg");
  background-repeat: no-repeat;
  bottom: 0;
  z-index: -1;
}
.present__wrapper::before {
  position: absolute;
  content: "";
  left: 0;
  min-width: 100%;
  min-height: 290px;
  background-color: #68b738;
  opacity: 80%;
  background-repeat: no-repeat;
  bottom: 0;
}
@media (min-width: 768px) {
  .present__wrapper {
    width: 707px;
  }
}
@media (min-width: 1440px) {
  .present__wrapper {
    position: absolute;
    width: 245px;
    top: -340px;
    right: -1100px;
  }
}
.present__description {
  position: relative;
  font-family: "Lato-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
  margin: 0;
  margin-bottom: 23px;
  color: #ffffff;
  z-index: 1;
}
.present__description::before {
  content: "";
  display: block;
  width: 78px;
  height: 80px;
  background-image: url("../img/present-icon.svg");
  background-position: center;
  margin: 0 auto 48px auto;
}
.link--green {
  font-family: "Oswald", sans-serif;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: #68b738;
  text-transform: uppercase;
  border: none;
  text-decoration: none;
  color: #ffffff;
  box-sizing: border-box;
  cursor: pointer;
}
.link--green:hover {
  background-color: #5eaa2f;
}
.link--green:active {
  color: rgba(255, 255, 255, 0.3);
}
.title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  letter-spacing: 0;
}
.title--h2 {
  line-height: 40px;
}
.title--h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.card__item {
  padding: 20px;
  box-sizing: border-box;
  max-width: 320px;
}
@media (min-width: 768px) {
  .card__item {
    position: relative;
    max-width: 324px;
    min-height: 491px;
  }
  .card__item::after {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: -20px;
    display: block;
    width: 324px;
    height: 450px;
    background-color: #eaeaea;
  }
}
@media (min-width: 1440px) {
  .card__item {
    max-width: 245px;
  }
  .card__item::after {
    width: 245px;
    height: 430px;
  }
}
.card__item--show--more {
  box-sizing: border-box;
  padding: 25px 20px 0 20px;
  min-height: 207px;
  border-top: 1px solid #d9d9d9;
  cursor: pointer;
}
.card__item--show--more::after {
  content: none;
}
@media (min-width: 768px) {
  .card__item--show--more {
    max-width: 324px;
    max-height: 429px;
    border-top: none;
    padding-top: 50px;
    margin-top: 80px;
  }
  .card__item--show--more::after {
    content: "";
    z-index: -1;
    right: 0;
    bottom: -20px;
    display: block;
    width: 324px;
    height: 450px;
    border: #d9d9d9 1px solid;
    background-color: transparent;
  }
}
@media (min-width: 1440px) {
  .card__item--show--more::after {
    content: "";
    z-index: -1;
    right: 0;
    bottom: -20px;
    display: block;
    width: 245px;
    height: 431px;
    border: #d9d9d9 1px solid;
    background-color: transparent;
  }
}
.card__item-wrapper {
  display: flex;
  align-items: end;
  height: 107px;
  margin-bottom: 17px;
}
.card__item-wrapper:last-child {
  display: block;
}
@media (min-width: 768px) {
  .card__item-wrapper {
    flex-direction: column;
  }
}
@media (min-width: 1440px) {
  .card__item-wrapper {
    max-width: 170px;
    margin: 0 auto;
  }
}
.card__title {
  position: absolute;
  top: 0;
  right: -77px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
  max-width: 76px;
}
@media (min-width: 768px) {
  .card__title {
    position: static;
    font-size: 20px;
    max-width: 135px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 1440px) {
  .card__title {
    max-width: 140px;
    margin-bottom: 23.4px;
  }
}
.card__title--extra {
  position: static;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 8px;
  display: block;
  flex-direction: column;
  align-items: center;
  max-width: 204px;
  font-size: 20px;
}
@media (min-width: 768px) {
  .card__title--extra {
    margin-bottom: 23px;
    line-height: 24px;
  }
}
.card__title--extra::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  margin-bottom: 23px;
  background-image: url("../img/card-add.svg");
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 768px) {
  .card__title--extra::before {
    width: 60px;
    height: 60px;
    background-size: cover;
    margin-bottom: 50px;
  }
}
.card__link {
  position: relative;
  text-decoration: none;
  box-sizing: border-box;
  text-align: center;
  width: 280px;
  margin: 0 auto;
  line-height: 20px;
}
@media (min-width: 768px) {
  .card__link {
    display: block;
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .card__link {
    max-width: 169px;
  }
}
.card__link--extra {
  text-align: center;
}
@media (min-width: 768px) {
  .card__link--extra {
    margin: 0 auto;
    width: 170px;
    margin-bottom: 82px;
  }
}
@media (min-width: 768px) {
  .card__link--order {
    position: absolute;
    display: inline-flex;
    max-width: 250px;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    right: 36px;
  }
}
@media (min-width: 1440px) {
  .card__link--order {
    width: 169px;
  }
}
@media (min-width: 768px) {
  .card__link img {
    display: block;
    margin: 0 auto;
    margin-bottom: 41px;
    width: 161px;
    min-height: 172px;
  }
}
.card__table {
  min-width: 140px;
  height: 48px;
  font-family: "Lato-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0;
  color: #444444;
}
@media (min-width: 768px) {
  .card__table {
    width: 250px;
    margin: 0 auto;
  }
}
@media (min-width: 1440px) {
  .card__table {
    width: 169px;
  }
}
.card__category {
  display: flex;
  justify-content: space-between;
  margin: 0;
}
@media (min-width: 768px) {
  .card__category {
    font-size: 16px;
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    border-bottom: solid 1px #cdcdcd;
  }
}
.card__description {
  font-family: "Lato-Regular", sans-serif;
  font-size: 12px;
  margin: 0;
  color: #444444;
}
@media (min-width: 768px) {
  .card__description {
    font-size: 16px;
  }
}
.card__button {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  min-height: 39px;
  border: 1px transparent solid;
  background-color: #f2f2f2;
  margin: 0;
  margin-top: 21px;
}
.card__button::after {
  content: "";
  position: absolute;
  top: 63px;
  right: -20px;
  width: 320px;
  height: 1px;
  background-color: #ebebeb;
  display: block;
}
@media (min-width: 768px) {
  .card__button {
    display: block;
    width: 250px;
    min-height: 40px;
    margin: 0 auto;
  }
  .card__button::after {
    content: none;
  }
}
@media (min-width: 1440px) {
  .card__button {
    width: 169px;
  }
}
.socials {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 20px 10px;
  min-width: 132px;
}
.socials__item {
  list-style-type: none;
  margin-right: 24px;
}
.socials__item:last-child {
  margin-right: 0;
}
.socials__link {
  width: 28px;
  height: 22px;
  display: inline-flex;
  align-items: center;
  vertical-align: bottom;
  justify-content: center;
}
.socials__link--youtube svg {
  fill: #666666;
}
.socials__link--youtube:hover svg {
  fill: #68b738;
}
.socials__link--youtube:active svg {
  opacity: 30%;
}
.socials__link--vk svg {
  fill: #666666;
}
.socials__link--vk:hover svg {
  fill: #68b738;
}
.socials__link--vk:active svg {
  opacity: 30%;
}
.socials__link--tg svg {
  fill: #666666;
}
.socials__link--tg:hover svg {
  fill: #68b738;
}
.socials__link--tg:active svg {
  opacity: 30%;
}
.socials__link svg {
  vertical-align: middle;
}
.main-nav {
  display: inline-flex;
}
@media (min-width: 768px) {
  .main-nav {
    margin-left: 94px;
    align-items: center;
  }
}
@media (min-width: 1440px) {
  .main-nav {
    align-items: end;
    color: #ffffff;
  }
}
.main-nav__item a {
  color: #000000;
  text-decoration: none;
}
@media (min-width: 768px) {
  .main-nav__item a {
    text-decoration: none;
  }
}
@media (min-width: 1440px) {
  .main-nav__item a {
    color: #ffffff;
  }
}
.main-nav--black a {
  color: #000000;
}
.main-nav__list--show {
  display: none;
}
@media (min-width: 768px) {
  .main-nav__list--show {
    display: block;
  }
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}
.main-nav__list {
  padding: 0;
  margin: 0;
  width: 100%;
  position: absolute;
  top: 65px;
  left: 0;
  z-index: 2;
}
@media (min-width: 768px) {
  .main-nav__list {
    position: static;
    display: flex;
    font-size: 18px;
    justify-content: space-between;
  }
}
.main-nav__item {
  font-family: "Oswald", sans-serif;
  list-style-type: none;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  cursor: pointer;
  vertical-align: bottom;
}
@media (max-width: 768px) {
  .main-nav__item {
    font-size: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
    min-height: 66px;
  }
}
@media (min-width: 768px) {
  .main-nav__item {
    margin-right: 33px;
  }
  .main-nav__item:last-child {
    margin-right: 0;
  }
}
.logo {
  margin: 0;
}
.logo:hover {
  opacity: 80%;
}
.logo:active {
  opacity: 50%;
}
.data {
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .data {
    max-width: 400px;
    margin-bottom: 99px;
  }
}
@media (min-width: 1440px) {
  .data {
    margin: 0;
    margin-bottom: 55px;
    max-width: 350px;
  }
}
.data__name {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.data__description {
  font-family: "Lato-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0;
  text-align: center;
  margin: 0;
}
@media (min-width: 768px) {
  .data__description {
    margin-top: 11px;
  }
}
.additional-info h2 {
  margin-bottom: 34px;
}
@media (min-width: 768px) {
  .additional-info h2 {
    margin-bottom: 57px;
  }
}
.additional-info__label {
  margin-bottom: 13px;
}
.additional-info__label:last-child {
  margin-bottom: 34px;
}
@media (min-width: 768px) {
  .additional-info__label {
    margin: 0;
    margin-right: 13px;
    min-height: 40px;
  }
  .additional-info__label:last-child {
    margin-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .additional-info__label {
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=style.css.map */
